// Importar variables y mixins
@import "variables";
@import "mixins";

// Sección de historia de la academia
.historia-container {
    @extend %flex-center;
    flex-direction: column;
    text-align: center;
    gap: 20px;

    img {
        width: 80%;
        max-width: 600px;
        border-radius: $border-radius;
    }

    p {
        max-width: 800px;
        font-size: 16px;
        color: $text-color;
    }
}

// Sección de equipo de entrenadores
.equipo-container {
    @extend %flex-center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

    .equipo-item {
        width: 22%;
        text-align: center;

        img {
            width: 100%;
            max-width: 300px;
            height: 200px;
            border-radius: 5%;
            @include box-shadow(rgba($black, 0.1));
        }

        p {
            font-size: 16px;
            color: darken($text-color, 20%);
            margin-top: 5px;
        }
    }
}

// Sección del enfoque conductista
.enfoque-lista {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
        padding: 10px;
        margin: 5px 0;
        border-radius: $border-radius;
        font-weight: bold;
        background-color: lighten($secondary-color, 10%);
        @include box-shadow(rgba($black, 0.1));
    }
}

// Sección de certificaciones y colaboraciones
.certificaciones-container {
    @extend %flex-center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;

    img {
        width: 22%;
        max-width: 180px;
        border-radius: $border-radius;
        @include box-shadow(rgba($black, 0.1));
    }
}
